{:highlights [{:id #uuid "66651d7a-6a02-4fbf-8f55-c32280542ca9",
               :page 26,
               :position {:bounding {:x1 87.84375,
                                     :y1 544.4765625,
                                     :x2 648.2285766601562,
                                     :y2 588.015625,
                                     :width 746.9999999999999,
                                     :height 966.7058823529411},
                          :rects ({:x1 170.6171875,
                                   :y1 544.4765625,
                                   :x2 648.2285766601562,
                                   :y2 565.9765625,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}
                                  {:x1 87.84375,
                                   :y1 566.515625,
                                   :x2 454.02191162109375,
                                   :y2 588.015625,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}),
                          :page 26},
               :content {:text "input输入假说。Dr.Krashen认为，英文学习的根本在于input输入，缺乏输入就不可能学好任何一门外语。"},
               :properties {:color "yellow"}}
              {:id #uuid "66651d95-7c79-44ac-b484-3f3bb8548607",
               :page 26,
               :position {:bounding {:x1 87.84375,
                                     :y1 698.2734375,
                                     :x2 655.42333984375,
                                     :y2 763.7578125,
                                     :width 746.9999999999999,
                                     :height 966.7058823529411},
                          :rects ({:x1 618.7985229492188,
                                   :y1 698.2734375,
                                   :x2 655.42333984375,
                                   :y2 719.7734375,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}
                                  {:x1 87.84375,
                                   :y1 720.3203125,
                                   :x2 653.5075073242188,
                                   :y2 741.8203125,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}
                                  {:x1 87.84375,
                                   :y1 742.2578125,
                                   :x2 289.2452392578125,
                                   :y2 763.7578125,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}),
                          :page 26},
               :content {:text "进行输入练习时，一定要遵守i+1的原则，“i”即你现在的水平，“1”即比你现在稍微高一点点的难度。"},
               :properties {:color "yellow"}}
              {:id #uuid "66651dc3-aa7f-4a66-809a-decf5e5d9465",
               :page 26,
               :position {:bounding {:x1 170.6171875,
                                     :y1 852.078125,
                                     :x2 642.4383544921875,
                                     :y2 873.578125,
                                     :width 746.9999999999999,
                                     :height 966.7058823529411},
                          :rects ({:x1 170.6171875,
                                   :y1 852.078125,
                                   :x2 642.4383544921875,
                                   :y2 873.578125,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}),
                          :page 26},
               :content {:text "narrow input假说。输入的材料类型和难度级别在一定时间"},
               :properties {:color "yellow"}}
              {:id #uuid "66651de5-bcd2-408b-906a-1dabb49e2c5f",
               :page 27,
               :position {:bounding {:x1 87.84375,
                                     :y1 198.4921875,
                                     :x2 648.8036956787109,
                                     :y2 241.9375,
                                     :width 746.9999999999999,
                                     :height 966.7058823529411},
                          :rects ({:x1 170.7004852294922,
                                   :y1 198.4921875,
                                   :x2 648.8036956787109,
                                   :y2 219.9921875,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}
                                  {:x1 87.84375,
                                   :y1 220.4375,
                                   :x2 270.9366760253906,
                                   :y2 241.9375,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}),
                          :page 27},
               :content {:text "情绪机制。学习的材料和环境应该是有趣的、轻松自如的，才能实现效果的最大化"},
               :properties {:color "yellow"}}
              {:id #uuid "66651df8-8659-4121-bdaa-32843c8a2c14",
               :page 27,
               :position {:bounding {:x1 87.84375,
                                     :y1 286.3671875,
                                     :x2 646.8325805664062,
                                     :y2 329.8046875,
                                     :width 746.9999999999999,
                                     :height 966.7058823529411},
                          :rects ({:x1 124.5234375,
                                   :y1 286.3671875,
                                   :x2 646.8325805664062,
                                   :y2 307.8671875,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}
                                  {:x1 87.84375,
                                   :y1 308.3046875,
                                   :x2 218.2014617919922,
                                   :y2 329.8046875,
                                   :width 746.9999999999999,
                                   :height 966.7058823529411}),
                          :page 27},
               :content {:text "英文学习必须建立一个系统化量化流程，规定好整个学习周期的时间，彻底突破"},
               :properties {:color "yellow"}}
              {:id #uuid "6665504d-61fb-4b98-b1ff-da1353a32638",
               :page 58,
               :position {:bounding {:x1 96.6640625,
                                     :y1 291.1640625,
                                     :x2 693.0870361328125,
                                     :y2 411.7890625,
                                     :width 822.0000000000001,
                                     :height 1063.764705882353},
                          :rects ({:x1 338.4232177734375,
                                   :y1 291.1640625,
                                   :x2 640.6417236328125,
                                   :y2 314.6640625,
                                   :width 822.0000000000001,
                                   :height 1063.764705882353}
                                  {:x1 137.0234375,
                                   :y1 316.2421875,
                                   :x2 693.0870361328125,
                                   :y2 339.2421875,
                                   :width 822.0000000000001,
                                   :height 1063.764705882353}
                                  {:x1 96.6640625,
                                   :y1 339.4609375,
                                   :x2 136.96505737304688,
                                   :y2 362.9609375,
                                   :width 822.0000000000001,
                                   :height 1063.764705882353}
                                  {:x1 137.0234375,
                                   :y1 364.640625,
                                   :x2 612.4927978515625,
                                   :y2 387.640625,
                                   :width 822.0000000000001,
                                   :height 1063.764705882353}
                                  {:x1 137.0234375,
                                   :y1 388.7890625,
                                   :x2 612.4927978515625,
                                   :y2 411.7890625,
                                   :width 822.0000000000001,
                                   :height 1063.764705882353}),
                          :page 58},
               :content {:text "一般意义上的跟读分成三种方法：• 丢开课本，播放一句，暂停，然后跟读。如果跟不了，倒带反复。• 翻开课本，不暂停，跟着录音反复朗读，一气呵成。• 丢开课本，不暂停，跟着录音反复朗读，一气呵成。"},
               :properties {:color "yellow"}}],
 :extra {:page 97}}
