{:highlights [{:id #uuid "65802e1d-c690-4c07-8da4-2dd946975939",
               :page 22,
               :position {:bounding {:x1 93.71875,
                                     :y1 523.84375,
                                     :x2 650.6448364257812,
                                     :y2 607.1015625,
                                     :width 744.9999999999999,
                                     :height 964.1176470588234},
                          :rects ({:x1 588.7614135742188,
                                   :y1 523.84375,
                                   :x2 650.644775390625,
                                   :y2 546.84375,
                                   :width 744.9999999999999,
                                   :height 964.1176470588234}
                                  {:x1 93.71875,
                                   :y1 553.921875,
                                   :x2 650.6448364257812,
                                   :y2 576.921875,
                                   :width 744.9999999999999,
                                   :height 964.1176470588234}
                                  {:x1 93.71875,
                                   :y1 584.1015625,
                                   :x2 354.8383483886719,
                                   :y2 607.1015625,
                                   :width 744.9999999999999,
                                   :height 964.1176470588234}),
                          :page 22},
               :content {:text "执行技能这个术语来自神经科学文献，指的是人类执行或完成任务时需要的一些基于大脑的技能。"},
               :properties {:color "yellow"}}
              {:id #uuid "658030b9-5d2a-4f50-b29d-e61cf20d1b79",
               :page 71,
               :position {:bounding {:x1 93.71875,
                                     :y1 774.8984375,
                                     :x2 650.6275634765625,
                                     :y2 828.078125,
                                     :width 744.9999999999999,
                                     :height 964.1176470588234},
                          :rects ({:x1 299.2354736328125,
                                   :y1 774.8984375,
                                   :x2 650.6275634765625,
                                   :y2 797.8984375,
                                   :width 744.9999999999999,
                                   :height 964.1176470588234}
                                  {:x1 93.71875,
                                   :y1 805.078125,
                                   :x2 547.513916015625,
                                   :y2 828.078125,
                                   :width 744.9999999999999,
                                   :height 964.1176470588234}),
                          :page 71},
               :content {:text "如果你孩子存在不足的执行技能快把你逼疯，很可能是因为你在那些执行技能上有优势。"},
               :properties {:color "yellow"}}
              {:id #uuid "6580380c-01d2-43a9-9622-e4c377c24e9c",
               :page 92,
               :position {:bounding {:x1 102.6484375,
                                     :y1 507.4140625,
                                     :x2 712.6552734375,
                                     :y2 565.859375,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 557.691162109375,
                                   :y1 507.4140625,
                                   :x2 712.6552734375,
                                   :y2 532.9140625,
                                   :width 816,
                                   :height 1056}
                                  {:x1 102.6484375,
                                   :y1 540.359375,
                                   :x2 441.53729248046875,
                                   :y2 565.859375,
                                   :width 816,
                                   :height 1056}),
                          :page 92},
               :content {:text "事实上，孩子提升自尊的一种主要方式是克服障碍"},
               :properties {:color "yellow"}}
              {:id #uuid "6580381c-ba0f-49f8-8b1a-645d5d201381",
               :page 92,
               :position {:bounding {:x1 102.6484375,
                                     :y1 606.359375,
                                     :x2 712.6483764648438,
                                     :y2 664.9140625,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 147.8336181640625,
                                   :y1 606.359375,
                                   :x2 712.6483764648438,
                                   :y2 631.859375,
                                   :width 816,
                                   :height 1056}
                                  {:x1 102.6484375,
                                   :y1 639.4140625,
                                   :x2 520.6484375,
                                   :y2 664.9140625,
                                   :width 816,
                                   :height 1056}),
                          :page 92},
               :content {:text "养育孩子的艺术，涉及能够以一定的准确度辨别哪些挑战恰好是孩子稍加努力时便可以成功克服的。"},
               :properties {:color "yellow"}}],
 :extra {:page 146}}
